<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
<meta charset="UTF-8">
<style>
  body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    font-weight: 400;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
  }
  
  .titulo {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(15, 82, 134);
    font-weight: 900;
  }

  h3 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 24px;
    width: 100%;
    text-align: center;
    color: rgb(15, 82, 134);
    font-weight: 900;

  }

  .titulo h3 {
    margin: 30px 0 20px 0;
  }

  hr {
    border: 0;
    border-top: 1px solid #c9c7c7;
    margin: 0 30px;
  }

  .texto {
    margin: 20px;
    padding: 10px 50px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 14px;
    text-align: start;
    color: #73828c;
    line-height: 22px;
  }
  
</style>
<div class="wrapper"></div>
<div class="container">
  <div class="">
    <div class="content">
		<hr>
	    <div class="titulo">
	      <h3>MS-EMAIL</h3>
	    </div>
	    <hr>
	    <div class="texto">
		<br>
		<br>
		Nome: [name]
		<br>
		Email: <a href="mailto:[email]">[email]</a>
		<br>
		Assunto: [subject]
	    <br>
	    <br>
	    [content]
	    <br>
		<br>
	    </div>
	    <br>
		<br>
	    <hr>
    </div>
  </div>
</div>